body {
    font-family: 'Raleway', sans-serif;
}

header {
    background: #92E0E5;
    color: white; 
    height: 50px; 
    padding: 0 25px;
    border-bottom: 2px solid #32a5ad;
}

header h1 {
    float: left;
    text-indent: -9999px;
    background: url('../images/image16.png') no-repeat;
    background-size: cover;
    height: 35px;
    width: 35px;
    margin-top: 8px;
}

header nav {
    float: right;  
}

nav li {
    display: inline-block;
    padding: 17px 10px;
}

nav li a {
    text-decoration: none;
    color: white;
}

nav li:hover {
    background: #3F8DA7;
    color: white; 
    cursor: pointer;
}

#hero {
    background: url('images/image9.jpg') no-repeat;
    background-size: cover;
    text-align: center;
    padding: 50px 0;
    margin-bottom: 50px;
}

#hero h2 {
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: 600;
}

#hero img {
    display: block;
    margin: auto;
    margin-bottom: 35px;
    border-radius: 50%;
    border: 5px solid #3F8DA7;
}

.btn {
    background: white;
    border: 5px solid #3F8DA7;
    color: #3F8DA7;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 600;
}

.btn:hover {
    padding: 5px 10px;
    background: #3F8DA7;
    color: white;
  
}

.three-col {
    display: inline-block;
    width: 28%;
    text-align: center;
    vertical-align: top;
    margin: 0 35px;
}

.three-col h3 {
    color: #3F8DA7;
    font-weight: 600;
    font-size: 1.5rem;
}

.three-col p {
    margin-bottom: 40px;
    line-height: 25px;
}

.three-col img {
    border: 3px solid #3F8DA7;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 25px 0;
}

footer {
    background: #3F8DA7;
    color: white;
    margin-top: 40px;
    padding: 20px 0;
    text-align: center;
}

footer ul {
    margin: 40px 0;
}
  
footer li {
    display: inline-block;
    margin: 0 15px;
}

i {
    font-size: 35px;
}

.link {
    color: white
}
   
.link:hover { 
    color: #92E0E5; 
}