body {
    margin: 0;
    padding: 0;
    background-color: rgb(236, 217, 236);
    font-family: 'Montserrat', sans-serif;
}

h1 {
    box-sizing: border-box;
    border: 4px solid rgb(36, 35, 35);
    border-radius: 10px;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    text-align: center;
    padding: 20px 5px;
}

h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.links {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    background-color: rgb(145, 85, 145);
    color: white;
    width: 8%;
    text-align: center;
    border-radius: 4px;
    padding: 10px 12px;
}

a:hover {
    background-color: purple;
}

footer {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    color: rgb(106, 99, 99);
}

@media (max-width: 480px) {

    h1 {
        font-size: 110%;
    }

    a {
        width: 60%;
    }
}